<div id="cookie-notice">
    <span>This website uses cookies to ensure you get the best experience. <a href="">Learn more</a> or
    <button id="accept-cookies">Accept</button></span>
</div>

<script>
    // Function to set a cookie
    function setCookie(name, value, days) {
        const d = new Date();
        d.setTime(d.getTime() + (days*24*60*60*1000));
        const expires = "expires=" + d.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    // Function to get a cookie by name
    function getCookie(name) {
        const cname = name + "=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(cname) === 0) {
                return c.substring(cname.length, c.length);
            }
        }
        return "";
    }

    // Function to check cookie consent
    function checkCookieConsent() {
        const cookieConsent = getCookie("cookieconsent");
        if (cookieConsent !== "true") {
            document.getElementById("cookie-notice").style.display = "block";
        }
    }

    // Event listener for the accept cookies button
    document.getElementById("accept-cookies").addEventListener("click", function() {
        setCookie("cookieconsent", "true", 365);
        document.getElementById("cookie-notice").style.display = "none";
    });

    // Check for cookie consent on page load
    window.onload = function() {
        checkCookieConsent();
    };
</script>
</body>