<div class="menu-container">
    <ul class="menu">
        <span class="leftmenu">
          <li>
            <a href="{% url 'home' %}"><span><i class="fa fa-house"></i></span></a>
          </li>
        </span>
        <span class="rightmenu">
          <li> 
            <a href="https://github.com/paull28" target="_blank"><i class="fab fa-github"></i></a> 
          </li>
          <li>
            <a href="https://linkedin.com/in/paullatham28" target="_blank"><i class="fab fa-linkedin"></i></a> 
          </li>
          <li>
            <a href="mailto:paul@lathamfamily.co.uk"><i class="fas fa-envelope"></i></a>
          </li>
        </span>
      </ul>
    </div>